@import "../theme/theme";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 19rem;
  width: auto;
  height: 5rem;
  padding: 0 1rem;
  border-bottom: 0.25rem solid $theme-color;
  font-family: $heading-font;
  font-size: 0.8rem;
  font-weight: 800;
  color: $body-font;
  text-transform: uppercase;
  cursor: pointer;
}