@import "../theme/theme";

.Wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
  width: 100%;

  .Content {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: $core-font;
    // background-color: $secondary;
    color: $on-secondary;
  }

  .Main {
    width: 0 auto;
    order: 2;
  }
  a {
    color: inherit;
  }
}