@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900);
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@charset "UTF-8";
/* 書体 */
* {
  box-sizing: border-box; }

html, body, #__next {
  width: 100%;
  height: 100%; }

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 3.5mm;
  line-height: 1.5rem;
  color: #2d2828;
  margin: 0;
  padding: 0; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

#root {
  display: flex;
  flex-direction: column; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-weight: 900; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.7rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 0.9rem; }

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: crimson;
  cursor: pointer; }

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 10px 0;
  background: crimson;
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: white;
  box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);
  cursor: pointer; }
  .NavBar a {
    color: rgba(250, 250, 250, 0.9);
    text-decoration: none; }
  .NavBar .active {
    font-weight: bold;
    color: inherit; }

.Wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%; }
  .Wrapper .Content {
    flex: 1;
    display: flex;
    flex-direction: column; }

html, body, #__next {
  width: 100%;
  height: 100%; }

