/* 色 */
// アンダースコア『_』で始まるSCSSファイルはパーシャルと呼ばれ、他のSCSSファイルにインポートすることができる。

$theme-color:rgba(245, 106, 106, 1);
$font-color: rgba(61, 68, 73, 1);

$primary: #FFFFFF;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #A1A1A1;
$on-secondary: #fff;

$highlight: #FA4141;