/* 書体 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900");
@import url('https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


$body-font: "M PLUS 1p",sans-serif;
$heading-font: 'Roboto Slab', serif;
$header-font: 'Raleway', sans-serif;
$core-font: 'Merriweather Sans', sans-serif;
$logo-font: 'Share Tech Mono', monospace;