* {
  // padding値とボーダー値を幅と高さに含める
  box-sizing: border-box;
}

html, body, #__next {
  width: 100%;
  height: 100%;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 3.5mm;
  line-height: 1.5rem;
  color: rgba(45, 40, 40, 1);
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: red;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-weight: 900;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 0.9rem;
}

